@page
@model GreenPrint.Web.Pages.Admin.Accounts.CustomersModel
@{
}

<div class="container">
    <div class="row border-bottom border-primary">
        <div class="col-3">
            <h1>Customers</h1>
        </div>
        <div class="col-2 gx-1">
            <button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#createUser" aria-controls="createUser"><span class="fas fa-plus-circle"></span> Add Customer</button>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-hover text-center ">
            <thead class="thead-darker">
                <tr>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Has User account</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.Customers)
                {
                    <tr>
                        <td>@customer.Id</td>
                        <td>@customer.FirstName @customer.LastName</td>
                        <td>@customer.Email</td>
                        <td>@customer.Phone</td>
                        <td>@(customer.UserId != null ? "Yes" : "No")</td>
                        <td>
                            <div class="btn-group">
                                <form asp-page-handler="removeUser">
                                    <button class="btn btn-danger" name="customerId" value="@customer.Id" onclick="return confirm('Are you sure you want to delete this user?')"><span class="fas fa-trash-alt"></span></button>
                                </form>
                                <form>
                                    <button class="btn btn-warning" name="customerId" value="@customer.Id"><span class="fas fa-edit"></span></button>
                                </form>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
