@page
@model GreenPrint.Web.Pages.Admin.AdminDashboardModel
@{
}

<div class="container">

    <div class="row border-bottom border-primary">
        <h1>Admin panel</h1>
    </div>



    <div class="row mt-3 justify-content-evenly">

        <div class="col-2 p-1">
            <a class="btn btn-primary col-12 toggleLoader" asp-page="/Admin/Accounts/Customers"><i class="fa-solid fa-user-tag"></i> Customers</a>
        </div>

        <div class="col-2 p-1">
            <a class="btn btn-primary col-12 toggleLoader" asp-page="/Admin/Accounts/Users"><i class="fa-solid fa-users"></i> Users</a>
        </div>

        <div class="col-2 p-1">
            <a class="btn btn-primary col-12 toggleLoader" asp-page="/Admin/Accounts/Roles"><i class="fa-solid fa-user-shield"></i> Roles</a>
        </div>

        <div class="col-2 p-1">
            <a class="btn btn-primary col-12 toggleLoader" asp-page="/Admin/Orders/Orders"><i class="fas fa-receipt"></i> All Orders</a>
        </div>

        <div class="col-2 p-1">
            <button type="button" class="btn btn-primary col-12" data-bs-toggle="modal" data-bs-target="#newProd"><i class="fa-solid fa-boxes-stacked"></i> Add Product</button>
        </div>
    </div>

    <div class="row mt-5 text-center justify-content-evenly">

        <!-- Categories -->
        <div class="col-5">
            <div class="row border border-primary border-3 p-0 rounded">
                <div class="col-12 border-bottom border-primary border-3">
                    <h3 class="mb-1">Categories</h3>
                </div>
                <div class="col-12">
                    @foreach (var category in Model.Categories)
                    {
                        <form method="post" asp-page-handler="DeleteCategory" class="row m-1">
                            <div class="input-group">
                                <input type="text" class="form-control border-primary" value="@category.CategoryName" disabled />
                                <button type="submit" value="@category.Id" onclick="return confirm('Are you sure you want to delete this category?')" name="categoryID" class="btn btn-outline-primary fw-bold"><i class="fa-solid fa-trash-can"></i></button>
                            </div>
                        </form>
                    }
                </div>
                <form method="post" asp-page-handler="AddCategory" class="col-12 border-top border-primary border-3 p-2">
                    <div class="input-group">
                        <input type="text" name="newCategoryName" class="form-control border-primary" />
                        <button type="submit" class="btn btn-outline-primary"><i class="fa-solid fa-circle-plus"></i> Add</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Warehouses -->
        <div class="col-5">
            <div class="row border border-primary border-3 p-0 rounded">
                <div class="col-12 border-bottom border-primary border-3">
                    <h3 class="mb-1">Warehouses</h3>
                </div>
                <div class="col-12">
                    @foreach (var warehouse in Model.Warehouses)
                    {
                        <form method="post" asp-page-handler="DeleteWarehouse" class="row m-1">
                            <div class="input-group">
                                <input type="text" class="form-control border-primary" value="@warehouse.WarehouseName" disabled />
                                <button type="submit" value="@warehouse.Id" onclick="return confirm('Are you sure you want to delete this warehouse?')" name="warehouseID" class="btn btn-outline-primary fw-bold"><i class="fa-solid fa-trash-can"></i></button>
                            </div>
                        </form>
                    }
                </div>
                <div class="col-12 border-top border-primary border-3 p-2">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createWarehouse" aria-controls="createWarehouse"><i class="fa-solid fa-circle-plus"></i> Add</button>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="createWarehouse" tabindex="-1" aria-labelledby="createWarehouseLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ModalLabel">Create Warehouse</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-page-handler="AddWarehouse">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-floating mb-3 gx-1">
                                <input type="text" name="wname" id="wname" class="form-control" placeholder="Warehouse Name" />
                                <label class="form-label" for="wname">Warehouse name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-floating mb-3 col-8 gx-1">
                                <input type="text" name="street" id="street" class="form-control" placeholder="Street Name" />
                                <label class="form-label" for="street">Street Name</label>
                            </div>
                            <div class="form-floating mb-3 col-4 gx-1">
                                <input type="text" name="streetnum" id="streetnum" class="form-control" placeholder="Street Number" />
                                <label class="col-form-label" for="streetnum">Number</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-floating mb-3 col-8 gx-1">
                                <input type="text" name="city" id="city" class="form-control" placeholder="City" />
                                <label class="col-form-label" for="city">City</label>
                            </div>
                            <div class="form-floating mb-3 col-4 gx-1">
                                <input type="text" name="zip" id="zip" class="form-control" placeholder="Zip Code" />
                                <label class="col-form-label" for="zip">Zip</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<form method="post" enctype="multipart/form-data" class="container" asp-page-handler="AddNewItem">
    <div class="modal fade" id="newProd" tabindex="-1" aria-labelledby="newProdLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mt-2">
                        <div class="col-6">

                            <!-- Product name -->
                            <div class="mt-2">
                                <label class="form-label fw-bold">Product name *</label>
                                <input type="text" class="form-control border-primary" asp-for="@Model.NewProduct.ItemName" />
                                <span asp-validation-for="@Model.NewProduct.ItemName" class="text-primary"></span>
                            </div>

                            <div class="mt-2">
                                <label class="form-label fw-bold">Product price *</label>
                                <input type="text" class="form-control border-primary" asp-for="@Model.NewProduct.Price" />
                                <span asp-validation-for="@Model.NewProduct.Price" class="text-primary"></span>
                            </div>
 
                            <!-- Category dropdown -->
                            <div class="mt-2">
                                <label class="form-label fw-bold">Category *</label>
                                <select class="form-select border-primary" asp-for="@Model.NewProduct.CategoryId">
                                    <option selected disabled>--- Choose category ---</option>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.Id">@category.CategoryName</option>
                                    }
                                </select>
                                <span asp-validation-for="@Model.NewProduct.CategoryId" class="text-primary"></span>
                            </div>

                            <!-- Warehouse dropdown -->
                            <div class="mt-2">
                                <label class="form-label fw-bold">Warehouse *</label>
                                <select class="form-select border-primary" asp-for="@Model.NewWarehouseItem.WarehouseId">
                                    @foreach (var warehouse in Model.Warehouses)
                                    {
                                        <option value="@warehouse.Id">@warehouse.WarehouseName</option>
                                    }
                                </select>
                                <span asp-validation-for="@Model.NewWarehouseItem.WarehouseId" class="text-primary"></span>
                            </div>

                            <!-- Product image -->
                            <div class="mt-2">
                                <label class="form-label fw-bold">Image *</label>
                                <input type="file" multiple accept="image/*" class="form-control border-primary" asp-for="@Model.ProductImages" />
                                <span asp-validation-for="ProductImages" class="text-primary"></span>
                            </div>

                            <!-- Stock -->
                            <div class="mt-2">
                                
                                    <label class="form-label fw-bold">Amount *</label>
                                    <input type="number" class="form-control border-primary" value="0" asp-for="@Model.NewWarehouseItem.Quantity" />
                                    <span asp-validation-for="@Model.NewWarehouseItem.Quantity" class="text-primary"></span>
                                
                            </div>

                        </div>

                        <div class="col-6">

                            <!-- Product description -->
                            <div class="mt-2">
                                <label class="form-label fw-bold">Description</label>
                                <textarea class="form-control border-primary" rows="18" asp-for="@Model.NewProduct.Description"></textarea>
                            </div>

                        </div>
                    </div>




                </div>
                <div class="modal-footer">
                    <div class="row mt-2">
                        
                            <button type="submit" class="btn btn-success col-12 toggleLoader">Add</button>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>