@page "{userId:int}"
@model GreenPrint.Web.Pages.Orders.MyOrdersModel
@{
}
<div class="container">

    <div class="row border-bottom border-primary">
        <h1>Your orders</h1>
    </div>

    <div class="row mt-2">
        @if (Model.Orders.Any())
        {
            <table class="table table-light border border-primary table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Order number</th>
                        <th scope="col">Date created</th>
                        <th scope="col">Status</th>
                        <th scope="col">View order</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td class="">@order.Id</td>
                            <td>@order.OrderDate</td>
                            <td class="@(order.Status switch{ Repository.Enums.OrderStatusEnum.Created => "text-black",  Repository.Enums.OrderStatusEnum.Processing => "text-warning", Repository.Enums.OrderStatusEnum.Shipped => "text-info",  Repository.Enums.OrderStatusEnum.Delivered => "text-success", _ => "" })">
                                @order.Status
                            </td>
                            <td>
                                <a class="btn btn-outline-primary rounded-circle toggleLoader" asp-page="/Orders/Order" asp-route-orderID="@order.Id"><i class="fa-solid fa-eye"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="row mt-2 text-center">
                <h4 class="text-danger">You have made no orders yet!</h4>
            </div>
        }
    </div>
</div>